extends layout

block content
  header(container)
    h1 Tickets Board

    nav
      ul
        li: a(href='/') Home
        li: a(href='#ticket-form' rel='modal:open') Update
        li: a(href=`/ticket/${ticket.slug}/delete`) Delete

  main(container).ticket-content
    include components/ticket

  form(action=`/ticket/${ticket.slug}` method='PUT').ticket-form#ticket-form
      p: input(name='ticketTitle' type='text' value=ticket.title)
      p: input(name='ticketDescription' type='text' value=ticket.description)
      p: textarea(name='ticketContent')= ticket.content
      p._text-right: input(type='submit' value='Update')
